{% extends 'layout.html' %}
<!-- about this website, and my 'mission', etc. -->

{% block main %}
<div class="container1 boo reddied">
    <h2>"These advertisements overfill the small space of this website, ineffectively popping bright colors at ME!"</h2>
    <img src="https://thumbs.dreamstime.com/z/angry-stressed-business-man-annoyed-computer-problem-office-angry-stressed-business-man-annoyed-computer-problem-153897859.jpg?w=992" style="width: 500px" alt="Annoyed businessman looking at computer">
    <h1 class="tiny">Picture by dreamstime</h1>
    <h4>Many times, trying to get information without being bombarded with laggy ads and requests to get cookies can be difficult.
        Even more annoying, not being able to see anything without signing up or registering for just ONE video! Here at 
        'the good weather App,' we simplify this process, and skip the ads, and the oh-so-annoying parts, to form our humble website,
        the beggining of our contribution to a greater good.<br>
        Never again struggle with needing to give permission for location trackers, or unreasonable requests. Enjoy!
    </h4>
</div>
{% endblock %}