{% extends "weather.html" %}

<!-- shows forecast, assuming there is data -->
{% block weather %}
    <!--a little about this page -->
     <h1 class="reddied">Weather for: {{ data['city']['name'] }}<br></h1>
     <h3 class="green">Updated as of: '{{ now }}' local time</h3>
        <hr>
   <!-- use F, C, or K -->
    <!-- and the wind speed -->
    {% if united == 'standard' %}
      {% set my_unit = '° K' %}
      {% set speed = 'm/s' %}
    {% elif united == 'metric' %}
      {% set my_unit = '° C' %}
      {% set speed = 'm/s' %}
    {% elif united == 'imperial' %}
      {% set my_unit = '° F' %}
      {% set speed = 'mph' %}
    {% endif %}

    <!-- add three options -->
    <h2 class="green">Change units of measure<hr></h2>
     <div class="container7">
        <button type="button" style="grid-column: 1" class="btn btn-primary"><a class="none" style="color: white" href="/weather/{{lat}}/{{lon}}/standard">Standard</a></button>
        <h5 style="opacity: 0">...</h5>
        <button type="button" style="grid-column: 2" class="btn btn-success "><a class="none"href="/weather/{{lat}}/{{lon}}/metric">Metric</a></button>
        <h5 style="opacity: 0">...</h5>
        <button type="button" style="grid-column: 3" class="btn btn-danger"><a class="none" href="/weather/{{lat}}/{{lon}}/imperial">Imperial</a></button>
     </div>
     <br>
     <!-- display todays weather -->
      <div class="container5">
         <h2 class="green">Weather today:</h2><br>
         <h1 class="reddied">Temperature:</h1>
         <div class="container6">
            <div class="item3">
               <h5 class="just">Feels like:<br></h5>
               <h3>{{ today['main']['feels_like'] }}{{ my_unit }}</h3>
            </div>
            <div class="item3">
               <h5 class="just">Temperature now:<br></h5>
               <h3>{{ today['main']['temp'] }}{{ my_unit }}</h3>
            </div>
         </div>
         <div class="container6">
            <div class="item3">
               <h5 class="just">Max/Min temperature: <br></h5>
               <h3>{{ today['main']['temp_max'] }}/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
            </div>
            <div class="item3">
               <h5 class="just">Humidity: <br></h5>
               <h3>{{ today['main']['humidity'] }}%</h3>
            </div>
         </div>
         <hr>
         <!-- cloudiness -->
         <h1 class="reddied">Cloudiness:</h1>
         <div class="container6">
            <div class="item3">
               <!-- the logo -->
               <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
               {{ need[2] }} 
               <h5>Description: {{ today['weather'][0]['description'] }}</h5>
               <!-- more cloud stuff -->
            </div>
            <div class="item3">
               <h5 class="just">Probability of precipitation:</h5>
               <h3>{{ today['pop'] | int * 100 }}%</h3>
               <h5 style="opacity: 0">.</h5>
            </div>
         </div>
         <hr>
         <!-- windi(pronouced like "wendeee")ness -->
         <h1 class="reddied">Wind:</h1>
         <div class="container6">
         <!-- wind direction -->
               <div class="item3">
               <h5 class="just">Wind direction and speed:</h5>
               <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
               </div>
         <!-- div below is for the inside green container  -->
         </div>
      <!-- div below is for the outside green container  -->
      </div>
      <!-- container is for the next day's weather -->
       <div class="boo">
      <div class="container5">
         <!-- give out the next day's weather -->
          <h1 class="just" style="color: #45cc2d">  Daily forecast</h1>
         {% set nowed = now.split(' ') %}
         {% set list = [] %}
         {% set bool = 9 %}
          {% for i in data['list'] %}
          <!-- check that the date isn't today -->
            {% if not nowed[0] in i['dt_txt'] %}
            <!-- or another day -->
               {% if '12:' in i['dt_txt'] %}
               <!-- display that -->
                  {% set time = i['dt_txt'].split(' ') %}
                  <a href="/weather/{{ lat }}/{{ lon }}/{{ united }}/{{ time[0] }}" style="text-decoration: none">
                     <div class="item4 style">
                        <!-- show date -->
                        <h3 class="just reddied">{{ time[0] }}</h3>
                        <h3 style="opacity: 0">hcajshdkfasdc</h3>
                        <h3><b>{{ today['main']['temp_max'] }}</b>/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
                        <h3 style="opacity: 0">hcajshdkfasdc</h3>

                        <!-- cloudiness -->
                        <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                        {{ need[2] }} 
                        <h3 style="opacity: 0">dkfasdc</h3>
                        <!-- and wind -->
                        <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
                     </div>
                  </a>
                {% endif %}
            <!-- or already added -->
            {% endif %}
         {% endfor %}
         <div class="container6">
            <button type="button" class="btn btn-secondary"><a class="none" href="/weather/{{ lat }}/{{ lon }}/{{ united }}/all">See next 5 days</a></button>
         </div>
      </div>
   </div>
      <!-- Add all information-->
      
{% endblock %}