{% extends "layout.html" %}

{% block style %}
    <style>
        .hide {
            color: white;
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block main %}
<div class="blah for">
    <div class="container1">
        <!-- welcomewelcomewelome -->
        <h1 class="item1" style="height: 33%; color: #850101;">Welcome to the good weather App</h1>
        <h3 class="item1" style="height: 66%; color: #CC5500;">Our open-source weather app comes from the bottom of this world, all the way to the top.
            We strive to bring you the most updated, most factually correct, and most 'easiest' way
            to collect the weather information. Whether you want to go on a rainy picnic, or a sunny
            drive to the Gym, we got you covered! So hop onto 'the good weather App'!
        </h3>
        <button type="button" class="btn btn-success"><a href="/weather" class="hide">Get weather now</a></button>
    </div>
    <h1 class="container1" style="color: #850101;">As of 8 / 6 / 2024, this program only works(as designed) full screen on a monitor</h1>
</div>
{% endblock %}