<!-- about each of the symbols-->
{% extends 'layout.html' %}

{% block main %}
<div class="container1 boo" style="align-items: center;">
    <h1 class="reddied height">
        Learn about the history and definition of each weather symbol on "the good weather App's" weather page
    </h1>
</div>
<div class="container1 boo" style="align-items: center;">
    <!-- degs -->
    <div class="justacontainer">
        <h2 class="reddied">1) The '&deg' symbol</h2>
        <h3 class="meh">This symbol indicates the temperature of a particular atmosphere,
            and is usually used with the Celcius amd Farenheit measurements
        </h3>
        <h3 style="color: #00CDAB;">Alternatively, this can show the angles of any moving object,
            wind being an example. 
        </h3>
        <h3 class="meh">This symbol was originally used by the early Babylonian mathematics, where circles were
            divided into 360&deg, and was so successful, it is still used today. In addition, famous
            scientists from the 17th century used scales to measure heat, which were used in new inventions
            thermometers as reference points to tenperature. 
        </h3>
    </div>
    <!-- hectopascal units(pressure) -->
    <div class="justacontainer">
        <h2 class="reddied">2) The 'hPa', or hectopascal unit</h2>
        <h3 class="meh">This unit is used to indicate the pressure of a particular atmosphere.
        </h3>
        <h3 style="color: #00CDAB;">Atmospheric pressure is the result of air pushing down on a specific point
            on Earth's crust. It can predict weather patterns, with a low-pressure indicating precipitation and 
            storms, and high pressure indicating good weather. Readings at or above 1013.25 hPa are considered average(at sea 
            level), and vice versa.
        </h3>
        <h3 class="meh">This symbol was originally called the Millibar, but was converted
            to the hectopascal name, and the readings can be directly converted. Most continents, including Europe, Asia,
            and Australia use the hPa scale. 
        </h3>
    </div>
    <div class="justacontainer">
        <h2 class="reddied">3) The '%' symbol</h2>
        <h3 class="meh">This unit is used to give the <b>relative humidity</b>, indicating the ratio between
            how much moisture is present in the air and the biggest amount of moisture the air, at the 
            current temperature, could be in the air.
        </h3>
        <h3 style="color: #00CDAB;">The humidity percentage can tell one the amount of driness the air
            currently is. Lower rates mean drier air, and high rates mean moist / foggy / condensated and 
            hotter-seeming air. 
        </h3>
        <h3 class="meh">Relative humidity(not measured in percentages) was known since 1450, but measuring
            this was possible in late 17th century, by scientists Leonardo da Vinci and Galileo. 
        </h3>
    </div>
    <!-- cloudiness -->
    <div class="justacontainer">
        <h2 class="reddied">4) The '%' symbol(but for clouds)</h2>
        <h3 class="meh">This symbol is meant for reading how much of the sky is covered by clouds 
            at a specified time.
        </h3>
        <h3 style="color: #00CDAB;">The scale goes from 0%(clear sky) cloud cover to 100%(the sky being 
            completely covered with clouds). These percentiles display the expected weather.
        </h3>
    </div>

</div>
{% endblock %}