<!-- about each of the symbols-->
{% extends 'layout.html' %}

{% block main %}
<div class="container1 boo" style="align-items: center;">
    <h1 class="reddied height">
        Learn about the history and definition of each weather symbol on "the good weather App"'s weather page
    </h1>
</div>
<div class="container1 boo" style="align-items: center;">
    <h1 class="reddied">
        Learn about the history and definition of each weather symbol on "the good weather App"'s weather page
    </h1>
</div>
{% endblock %}