{% extends "weather.html" %}

{% block weather %}
    <!-- shows all locations in loop -->
     <div class="container2">
        <!-- choose city -->
         <h1>Select city: </h1>
        {% for i in data %}
            <div class="item2">
                <!-- split string like: 
                 Sunnyvale, West Evelyn Avenue, Sunnyvale, 
                 Santa Clara County, California, 94086, 
                 United States -->
                <!-- display city name -->
                <h1><a class="meh" href="weather/{{i['lat']}}/{{i['lon']}}">{{ i['name'] }}</a></h1>
                <h3>Located in: {{ i["state"] }}, {{ i["country"] }}</h3>
            </div>
        {% endfor %}
     </div>
{% endblock %}