{% extends "weather.html" %}

{% block weather %}
    <!--a little about this page -->
    <!-- almost the same as forecast html -->
    <h1 class="reddied">Weather for: {{ data['city']['name'] }}<br></h1>
    <h3 class="green">Updated as of: '{{ now }}' local time</h3>
    <!-- degrees and wind measurements -->
    {% if united == 'standard' %}
      {% set my_unit = '° K' %}
      {% set speed = 'm/s' %}
    {% elif united == 'metric' %}
      {% set my_unit = '° C' %}
      {% set speed = 'm/s' %}
    {% elif united == 'imperial' %}
      {% set my_unit = '° F' %}
      {% set speed = 'mph' %}
    {% endif %}
    <!-- change measurements -->
    <h2 class="green">Change units of measure<hr></h2>
     <div class="container7">
        <button type="button" style="grid-column: 1" class="btn btn-primary"><a class="none" style="color: white" href="/weather/{{lat}}/{{lon}}/standard/{{ special }}">Standard</a></button>
        <button type="button" style="grid-column: 2" class="btn btn-success "><a class="none"href="/weather/{{lat}}/{{lon}}/metric/{{ special }}">Metric</a></button>
        <button type="button" style="grid-column: 3" class="btn btn-danger"><a class="none" href="/weather/{{lat}}/{{lon}}/imperial/{{ special }}">Imperial</a></button>
     </div>
     <hr>
     <h2 class="green">5 day weather forecast</h2>
     <!-- preliminary stuff -->
     {% set nowed = now.split(' ') %}
     {% set booled = 'yes' %}
     {% set special = special.strip() %}
     {% set speeded = special.split('-') %}

     <!-- display before 'todays' weaather -->
     {% for i in data['list'] %}
     <!-- check that the date is before the new 'today' -->
      {% set ugg = i['dt_txt'].split(' ') %}
      {% set ugh = ugg[0].split('-') %}

         {% if speeded[0] <= ugh[0] and speeded[1] <= ugh[1] and speeded[2] <= ugh[2] %}
            {% set booled = 'no' %}
         {% elif booled == 'yes' %}
            <!-- check that the date isn't today -->
            {% if not nowed[0] in i['dt_txt'] %}
               <!-- and is before new 'today' -->
               <!-- correct dates -->
            <!-- and is noon - the 'main'(in my opinion) section of the day -->
               {% if '12:' in i['dt_txt'] %}
                  <!-- display that -->
                  {% set time = i['dt_txt'].split(' ') %}
                  <a href="/weather/{{ lat }}/{{ lon }}/{{ united }}/{{ time[0] }}" style="text-decoration: none">
                     <div class="item4 style">
                        <!-- show date -->
                        <h3 class="just reddied">{{ time[0] }}</h3>
                        <h3 style="opacity: 0">hcajshdkfasdc</h3>
                        <h3><b>{{ today['main']['temp_max'] }}</b>/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
                        <h3 style="opacity: 0">hcajshdkfasdc</h3>

                        <!-- cloudiness -->
                        <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                        {{ need[2] }} 
                        <h3 style="opacity: 0">dkfasdc</h3>
                        <!-- and wind -->
                        <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
                     </div>
                  </a>
                  <!-- else -->
                  {% else %}
                  {% if '12:' in i['dxt_txt'] or '18:' in i['dxt_txt'] %}
                     <!-- basiclaly if it is today, show day/night times of 'today' -->
                     {% set time = i['dt_txt'].split(' ') %}
                     <a href="/weather/{{ lat }}/{{ lon }}/{{ united }}/{{ time[0] }}" style="text-decoration: none">
                        <div class="item4 style">
                           <!-- show date -->
                           <h3 class="just reddied">{{ time[0] }}</h3>
                           <h3 style="opacity: 0">hcajshdkfasdc</h3>
                           <h3><b>{{ today['main']['temp_max'] }}</b>/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
                           <h3 style="opacity: 0">hcajshdkfasdc</h3>
                           <!-- cloudiness -->
                           <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                           {{ need[2] }} 
                           <h3 style="opacity: 0">dkfasdc</h3>
                           <!-- and wind -->
                           <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
                        </div>
                     </a>
                  {% endif %}
               {% endif %}
            <!-- or already added -->
            {% endif %}
         {% endif %}
    {% endfor %}
    <hr>
    <!-- displaying todays weather -->
    <h2 class="green">Weather for {{ special }}:</h2>
    <div class="container6">
      <div class="mini">
         <h3 class="reddied">{{ special }} | Day</h3>
         <h1 class="reddied">Temperature:</h1>
         <div class="container6">
            <div class="item5">
               <h5 class="just">Feels like: <h3>{{ morning['main']['feels_like'] }}{{ my_unit }}</h3></h5>
            </div>
            <div class="item5">
               <h5 class="just">Temperature:<br></h5>
               <h3>{{ morning['main']['temp'] }}{{ my_unit }}</h3>
            </div>
            </div>
         <div class="container6">
            <div class="item5">
               <h5 class="just">Max/Min temperature: <br></h5>
                  <h3>{{ morning['main']['temp_max'] }}/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
            </div>
            <div class="item5">
               <h5 class="just">Humidity: <br></h5>
               <h3>{{ morning['main']['humidity'] }}%</h3>
               </div>
         </div>
         <!-- cloudiness -->
         <h1 class="reddied">Cloudiness:</h1>
         <div class="container6">
            <div class="item5">
               <!-- the logo -->
               <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
               <h1 class="tiny">{{ need[2] }}</h1>
               <h5>Description: {{ today['weather'][0]['description'] }}</h5>
               <!-- more cloud stuff -->
            </div>
            <div class="item5">
               <h5 class="just">Probability of precipitation:</h5>
               <h3>{{ morning['pop'] | int * 100 }}%</h3>
               <h5 style="opacity: 0">.</h5>
            </div>
         </div>
         <!-- windi(pronouced like "wendeee")ness -->
         <h1 class="reddied">Wind:</h1>
         <div class="container6">
         <!-- wind direction -->
               <div class="item5">
                  <h5 class="just">Wind direction and speed:</h5>
                  <h4>{{ morning['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
               </div>
         <!-- div below is for the inside green container  -->
         </div>
      <!-- div below is for the outside green container  -->
      </div>

      <div class="mini">
         <h3 class="reddied">{{ special }} | Night</h3>
         <h1 class="reddied">Temperature:</h1>
         <div class="container6">
            <div class="item5">
               <h5 class="just">Feels like: <h3>{{ evening['main']['feels_like'] }}{{ my_unit }}</h3></h5>
            </div>
            <div class="item5">
               <h5 class="just">Temperature:<br></h5>
               <h3>{{ morning['main']['temp'] }}{{ my_unit }}</h3>
            </div>
            </div>
         <div class="container6">
            <div class="item5">
               <h5 class="just">Max/Min temperature: <br></h5>
                  <h3>{{ morning['main']['temp_max'] }}/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
            </div>
            <div class="item5">
               <h5 class="just">Humidity: <br></h5>
               <h3>{{ morning['main']['humidity'] }}%</h3>
               </div>
         </div>
         <!-- cloudiness -->
         <h1 class="reddied">Cloudiness:</h1>
         <div class="container6">
            <div class="item5">
               <!-- the logo -->
               <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
               <h1 class="tiny">{{ need[2] }}</h1>
               <h5>Description: {{ today['weather'][0]['description'] }}</h5>
               <!-- more cloud stuff -->
            </div>
            <div class="item5">
               <h5 class="just">Probability of precipitation:</h5>
               <h3>{{ morning['pop'] | int * 100 }}%</h3>
               <h5 style="opacity: 0">.</h5>
            </div>
         </div>
         <!-- windi(pronouced like "wendeee")ness -->
         <h1 class="reddied">Wind:</h1>
         <div class="container6">
         <!-- wind direction -->
               <div class="item5">
                  <h5 class="just">Wind direction and speed:</h5>
                  <h4>{{ morning['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
               </div>
         <!-- div below is for the inside green container  -->
         </div>
      <!-- div below is for the outside green container  -->
      </div>
      <!-- and the invisible one too! -->
   </div>
   {% set bool = 'yes' %}
   {% set i_need = speeded[0] | float, speeded[1] | float, speeded[2] | float%}
   {{ i_need[0] }}speeded
   {% set context = {'hi': '?'} %}

   <!-- same as above but for days after -->
   {% for i in data['list'] %}
      {% set new_list = [] %}
   <!-- check that the date is before the new 'today' -->
      {% set ugg = i['dt_txt'].split(' ') %}
      {% set ugh = ugg[0].split('-') %}
      {% set new_list = ugh[0] | float, ugh[1] | float, ugh[2] | float%}
      {{ new_list}}new_list
      <h1>{{speeded[0]}}</h1>
      {{ i_need }}/{{  new_list}}

         {% if i_need[0] == new_list[0] | float and i_need[1] == new_list[1] and i_need[2] == new_list[2] %}
         hiiiiiiiiiiiiiiii
            {% set _ = context.update({'booled': 'stuuuuuuuuuuuuuuuuuuuuuoid'}) %}
         {{ context.hi, i_need, new_list}}booled<br>
         {% endif %}
         {{ i_need[2] == new_list[2] }}blahblahblah{{ hi }}
         {% if context.hi and context.hi != '?' and i_need[2] != new_list[2] %}
               <!-- correct dates -->
                hellllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllloooooooooooooooooooooooooooooooooooooooooo
            <!-- and is noon - the 'main'(in my opinion) section of the day -->
               {% if '12:' in i['dt_txt'] %}
                  <!-- display that -->
                   
                  {% set time = i['dt_txt'].split(' ') %}
                  <a href="/weather/{{ lat }}/{{ lon }}/{{ united }}/{{ time[0] }}" style="text-decoration: none">
                     <div class="item4 style">
                        <!-- show date -->
                        <h3 class="just reddied">{{ time[0] }}</h3>
                        <h3 style="opacity: 0">hcajshdkfasdc</h3>
                        <h3><b>{{ today['main']['temp_max'] }}</b>/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
                        <h3 style="opacity: 0">hcajshdkfasdc</h3>

                        <!-- cloudiness -->
                        <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                        {{ need[2] }} 
                        <h3 style="opacity: 0">dkfasdc</h3>
                        <!-- and wind -->
                        <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
                     </div>
                  </a>
               {% endif %}
            <!-- or already added -->
         {% endif %}
  {% endfor %}

{% endblock %}