{% extends "weather.html" %}

{% block stile %}
   <style>
      /* color schemes for day/night */
      .light {
         color: #EEAE94;
      }
      .dark {
         color: #CA5A4B;
      }
   </style>
{% endblock %}
{% block weather %}
    <!--a little about this page -->
    <!-- almost the same as forecast html -->
    <h1 class="reddied">Weather for: {{ data['city']['name'] }}<br></h1>
    <h3 class="green">Updated as of: '{{ now }}' local time</h3>
    <!-- degrees and wind measurements -->
    {% if united == 'standard' %}
      {% set my_unit = '° K' %}
      {% set speed = 'm/s' %}
    {% elif united == 'metric' %}
      {% set my_unit = '° C' %}
      {% set speed = 'm/s' %}
    {% elif united == 'imperial' %}
      {% set my_unit = '° F' %}
      {% set speed = 'mph' %}
    {% endif %}
    <!-- change measurements -->
    <h2 class="green">Change units of measure<hr></h2>
     <div class="container7">
      <button type="button" style="grid-column: 1" class="btn btn-primary"><a class="none" style="color: white" href="/weather/{{lat}}/{{lon}}/standard">Standard</a></button>
      <h5 style="opacity: 0">...</h5>
      <button type="button" style="grid-column: 2" class="btn btn-success "><a class="none"href="/weather/{{lat}}/{{lon}}/metric">Metric</a></button>
      <h5 style="opacity: 0">...</h5>
      <button type="button" style="grid-column: 3" class="btn btn-danger"><a class="none" href="/weather/{{lat}}/{{lon}}/imperial">Imperial</a></button>
     </div>
     <hr>
     <h2 class="green">5 day weather forecast</h2>
     <!-- preliminary stuff -->

     <!-- display before 'todays' weaather -->
     {% for i in before %}
            {% set time = i['dt_txt'].split(' ') %}
            <a href="/weather/{{ lat }}/{{ lon }}/{{ united }}/{{ time[0] }}" style="text-decoration: none">
               <div class="item4 style">
                  <!-- show date -->
                  <h3 class="just reddied">{{ time[0] }}</h3>
                  <h3 style="opacity: 0">hcajshdkfasdc</h3>
                  <h3><b>{{ today['main']['temp_max'] }}</b>/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
                  <h3 style="opacity: 0">hcajshdkfasdc</h3>
                  <!-- cloudiness -->
                  <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                  {{ need[2] }} 
                  <h3 style="opacity: 0">dkfasdc</h3>
                  <!-- and wind -->
                  <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
               </div>
            </a>
    {% endfor %}
    <hr>
    <!-- displaying todays weather -->
    <h2 class="green">Weather for {{ special }}:</h2>
    <div class="container6">
      <div class="mini">
         <h3 class="light">{{ special }} | Day</h3>
         <h1 class="light">Temperature:</h1>
         <div class="container6">
            <div class="item5">
               <h5 class="just light">Feels like: <h3>{{ morning['main']['feels_like'] }}{{ my_unit }}</h3></h5>
            </div>
            <div class="item5">
               <h5 class="just light">Temperature:<br></h5>
               <h3>{{ morning['main']['temp'] }}{{ my_unit }}</h3>
            </div>
            </div>
         <div class="container6">
            <div class="height" style="border: 2px solid #FEF250; width: 50%;">
               <h5 class="just light">Max/Min temperature: <br></h5>
               <h5 class="reddied">{{ morning['main']['temp_max'] }}/{{ today['main']['temp_min'] }}{{ my_unit }}</h4>
            </div>
            <div class="item5">
               <h5 class="just light">Humidity: <br></h5>
               <h3>{{ morning['main']['humidity'] }} hPa</h3>
               </div>
         </div>
         <!-- cloudiness -->
         <h1 class="reddied light">Cloudiness:</h1>
         <div class="container6">
            <div class="item5">
               <!-- the logo -->
               <div class="height">
                  <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                  <h1 class="tiny black">{{ need[2] }}</h1>
                </div>
                <div class="height">
                  <h5 class="light">Description: <h5><!-- darkening only 'description' -->{{ morning['weather'][0]['description'] }}</h5></h5>
                </div>
               <!-- more cloud stuff -->
            </div>
            <div class="item5">
               <h5 class="just light">Probability of precipitation:</h5>
               <h3>{{ morning['pop'] | int * 100 }}%</h3>
               <h5 style="opacity: 0">.</h5>
            </div>
         </div>
         <!-- windi(pronouced like "wendeee")ness -->
         <h1 class="light">Wind:</h1>
         <div class="container6">
         <!-- wind direction -->
               <div class="item5 ">
                  <h5 class="just light">Wind direction and speed:</h5>
                  <h4>{{ morning['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
               </div>
         <!-- div below is for the inside green container  -->
         </div>
      <!-- div below is for the outside green container  -->
      </div>

      <div class="mini">
         <h3 class="dark">{{ special }} | Night</h3>
         <h1 class="dark">Temperature:</h1>
         <div class="container6">
            <div class="item5">
               <h5 class="just dark">Feels like: <h3>{{ evening['main']['feels_like'] }}{{ my_unit }}</h3></h5>
            </div>
            <div class="item5">
               <h5 class="just dark">Temperature:<br></h5>
               <h3>{{ morning['main']['temp'] }}{{ my_unit }}</h3>
            </div>
            </div>
         <div class="container6">
            <div class="height" style="border: 2px solid #FEF250; width: 50%;">
               <h5 class="just dark">Max/Min temperature: <br></h5>
               <h5 class="reddied">{{ morning['main']['temp_max'] }}/{{ today['main']['temp_min'] }}{{ my_unit }}</h4>
            </div>
            <div class="item5">
               <h5 class="just dark">Humidity: <br></h5>
               <h3>{{ morning['main']['humidity'] }} hPa</h3>
               </div>
         </div>
         <!-- cloudiness -->
         <h1 class="dark">Cloudiness:</h1>
         <div class="container6 for">
            <div class="item5">
               <!-- the logo -->
                <!-- hieght puts objects over and under each other -->
                <div class="height">
                  <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                  <h1 class="tiny black">{{ need[2] }}</h1>
                </div>
                <div class="height">
                  <h5 class="dark">Description: <h5><!-- darkening only 'description' -->{{ morning['weather'][0]['description'] }}</h5></h5>
                </div>
               <!-- more cloud stuff -->
            </div>
            <div class="item5">
               <h5 class="just dark">Probability of precipitation:</h5>
               <h3>{{ morning['pop'] | int * 100 }}%</h3>
               <h5 style="opacity: 0">.</h5>
            </div>
         </div>
         <!-- windi(pronouced like "wendeee")ness -->
         <h1 class="dark">Wind:</h1>
         <div class="container6">
         <!-- wind direction -->
               <div class="item5">
                  <h5 class="just dark">Wind direction and speed:</h5>
                  <h4>{{ morning['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
               </div>
         <!-- div below is for the inside green container  -->
         </div>
      <!-- div below is for the outside green container  -->
      </div>
      <!-- and the invisible one too! -->
   </div>

   <!-- same as above but for days after -->
   {% for i in after %}
         {% set time = i['dt_txt'].split(' ') %}
         <a href="/weather/{{ lat }}/{{ lon }}/{{ united }}/{{ time[0] }}" style="text-decoration: none">
            <div class="item4 style">
               <!-- show date -->
               <h3 class="just reddied">{{ time[0] }}</h3>
               <h3 style="opacity: 0">hcajshdkfasdc</h3>
               <h3><b>{{ today['main']['temp_max'] }}</b>/{{ today['main']['temp_min'] }}{{ my_unit }}</h3>
               <h3 style="opacity: 0">hcajshdkfasdc</h3>
               <!-- cloudiness -->
                <div class="height">
                  <img src="{{ need[0] }}" alt="{{ need[1] }}" width="50">
                  <h1 class="tiny black">{{ need[2] }}</h1>
                </div>
                <h3 style="opacity: 0">dkfasdc</h3>
               <!-- and wind -->
               <h4>{{ today['wind']['speed'] }} {{ speed }} {{ need[3] }}</h4>
            </div>
         </a>
    {% endfor %}

{% endblock %}