{% extends "layout.html" %}

{% block style %}
    {% block stile %}{% endblock %}
{% endblock %}

{% block main %}
    <div class="container1 boo">
        <h2 class="hoo">This is the: weather page<br>
            See your weather by searching below
        </h2>
        <!-- for extensions later -->
    </div>
    <div class="container1 boo">
        <!-- add a search bar to locate cities -->
        <div class="search-container">
            <form action="/weather" method="POST">
                <!-- take city, to insert into weather and location functions of helpers.py -->
              <input type="input" name="city" placeholder="Find a city.." class="noo soo" name="search" required>
              <button type="submit" class="btn btn-success">Find weather now</button>
            </form>
        </div>
        {% block weather %}

            <h3 class="loo">'the good weather App' has been waiting for you all along!
                Enjoy the amazing benefits that come with this nifty app.
            </h3>
        {% endblock %}
    </div>
    <!-- alerts -->
     {% if alert %}
        <script>
            //  let alert = "{{ alert }}";
             alert(`It seems like city['{{ alert }}'] does not exist! Please change your spelling or city name`);
        </script>
    {% elif newert %}
        <script>
            //  let alert = "{{ alert }}";
            alert(`It seems like your city with (lat, lon)[{{ newert }}] does not exist! Please change your coordinates`);
        </script>
        <!-- or there is an empty string! -->
     {% elif empty %}
        <script>
            alert('Please enter a valid value into the city input')
            // ask for location
        </script>
    {% elif units %}
        <script>
            alert('It seems like unit: "{{ units }}" is not an accepted unit. Please change it!')
            // ask for location
        </script>
     {% endif %}
{% endblock %}