{% extends "layout.html" %}

{% block style %}
    {% block stile %}{% endblock %}
{% endblock %}

{% block main %}
    <div class="container1 boo">
        <h2 class="hoo">This is the: weather page<br>
            See your weather by searching below
        </h2>
        <!-- for extensions later -->
    </div>
    <div class="container1 boo">
        <!-- add a search bar to locate cities -->
        <div class="search-container">
            <form action="/weather" method="POST">
                <!-- take city, to insert into weather and location functions of helpers.py -->
              <input type="input" name="city" placeholder="Find a city.." class="noo soo" name="search" required>
              <button type="submit" class="btn btn-success">Find weather now</button>
            </form>
        </div>
        {% block weather %}

            <h3 class="loo">'the good weather App' has been waiting for you all along!
                Enjoy the amazing benefits that come with this nifty app.
            </h3>
        {% endblock %}
    </div>
    <!-- alerts -->
     {% if alert %}
        <script>
            //  let alert = "{{ alert }}";
             alert(`It seems like city['{{ alert }}'] does not exist! Please change your spelling or city name`);
        </script>
    {% elif newert %}
        <script>
            //  let alert = "{{ alert }}";
            alert(`It seems like your city with (lat, lon)[{{ newert }}] does not exist! Please change your coordinates`);
        </script>
     {% elif empty %}
        <script>
            // not a valid city
            alert('Please enter a valid value into the city input')
        </script>
    {% elif units %}
        <script>
            alert('It seems like unit: "{{ units }}" is not an accepted unit. Please change it!')
            // not a valid unit
        </script>
    {% elif hellp %}
    <script>
        if (confirm("It seems like the api_key does not work, please sign up for one here(please click yes to continue to openweathermap)")) {
            window.open("https://www.bing.com/ck/a?!&&p=2d074534971ee597JmltdHM9MTcyMzA3NTIwMCZpZ3VpZD0xNjY3MjA1YS1kZjBlLTYxYmUtMzU5Yy0zM2E5ZGU5YzYwMDUmaW5zaWQ9NTQ3MQ&ptn=3&ver=2&hsh=3&fclid=1667205a-df0e-61be-359c-33a9de9c6005&psq=login+openweathermap&u=a1aHR0cHM6Ly9ob21lLm9wZW53ZWF0aGVybWFwLm9yZy91c2Vycy9zaWduX3Vw&ntb=1", "_blank");
        }
        // from bing chat
        // if user copied code from github, they need their own api_key
    </script>
     {% endif %}
{% endblock %}